[Desktop Entry]
Encoding=UTF-8
Name=Zid
Comment=Zid P2P Cryptocurrency
Comment[fr]=Zid, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Zid, eşten eşe kriptografik sanal para birimi
Exec=zid-qt %u
Terminal=false
Type=Application
Icon=zid128
MimeType=x-scheme-handler/zid;
Categories=Office;Finance;
