[Unit]
Description=ZID's distributed currency daemon
After=network.target

[Service]
User=zid
Group=zid

Type=forking
PIDFile=/var/lib/zidd/zidd.pid

ExecStart=/usr/bin/zidd -daemon -pid=/var/lib/zidd/zidd.pid \
          -conf=/etc/zid/zid.conf -datadir=/var/lib/zidd

ExecStop=-/usr/bin/zid-cli -conf=/etc/zid/zid.conf \
         -datadir=/var/lib/zidd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
